footer
	background-color: gray
	width: 100%
	display: flex
	padding: 20px

.author
	text-align: start
	align-self: flex-start
	vertical-align: middle
	width: max-content
	flex-grow: 1

.contacts
	text-align: end
	width: max-content
	flex-grow: 1
	align-self: flex-end