.top-image-block {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    column-gap: 3px;
    width: 90%;
    margin: 8px auto;
}
.top-image-block img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.header{
    width: 85%;
    margin: auto;
    font-size: 1.2em;
}

.header>h3{
    text-align: center;
}
.sights{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: center;
}

.sight-item{
    width: 20%;
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
    border: solid thin silver;
}

.sight-item>img{
    width: 30%;
    max-height: 300px;
    background-color: lightsteelblue;
    object-fit: contain;
}

.sight-item>span>h3{
    text-align: center;
}

.nav{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    background-color: lightgray;
}


.nav-items{  
    display: grid;
    grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr;
    column-gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav>.label{
    margin-left: 8px;
}

.nav-items a{
    text-decoration: none;
    color:black;
}

.nav-items>div{
    height: 100%;
    width: max-content;
}

.nav-item-main-menu{
    background-color: darkgray;
}

.nav-item-main-menu a{
    color:yellow;
}

footer{
    background-color: gray;
    display: flex;
    padding: 20px;
}

.author{
   text-align: start;
   align-self: flex-start;
   vertical-align: middle;
   flex-grow: 1;
}

.contacts{
    text-align: end;
    flex-grow: 1;
    align-self: flex-end;
}
.contacts>a{
    color: blue;
}


@media all and (max-width:700px){
    .nav>.label{
        display: none;
    }
    .nav-items{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .top-image-block{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .sights{
        flex-direction: column;
    }
    .sight-item{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    footer>.contacts{
        align-self: flex-start;
        text-align: start;
    }
}