mixin filterDetails()
    details.filter
            summary Фильтр
            form#filters
                div 
                    .name
                        label(for = "name") Название:
                        input(type="text" name="name" id="name")
                    .location
                        label(for="location") Местонахождение:
                        input(type="text" name="location" id="location")
                    .type
                        label(for="type") Тип:
                        input(type="text" name="type" id="type")
                    .year
                        label(for="minYear") Год постройки: от
                        input(type="number" name="minYear" id="minYear")
                        label(for="maxYear") до:
                        input(type="number" name="maxYear" id="maxYear")
                input(type="button" value="Найти" id="find")
                input(type="reset" value=" Очистить фильтры" id="clear")
mixin graphDetails()
    details.graph
            summary График
            form
                div.graph 
                    p Значение по оси ОХ
                    .year
                        input(type="radio" name="xValue" value="year")
                        label(for = "year") Год
                    .location
                        input(type="radio" name="xValue" value="location")
                        label(for="location") Местонахождение
                    .type
                        input(type="radio" name="xValue" value="type")
                        label(for="type") Тип
                div
                    p Результат
                    .year
                        input(type="checkbox" name="result" value="minYear")
                        label(for = "minYear") Самая старая достопримечательность
                    .location
                        input(type="checkbox" name="result" value="maxYear")
                        label(for="maxYear") Самая новая достопримечательность
                    .type
                        input(type="checkbox" name="result" value="city")
                        label(for="city")  Количество достопримечательностей
                input(type="button" value="Построить")
mixin sortDetails()
    details.sort
            summary Сортировка
            form#sort
                div 
                    p Первый уровень:
                    select(name="sortFirst" id="sortFirst")
                    label(for="decFirst") По убыванию?
                    input(type="checkbox", id="sortFirstDec")
                div 
                    p Второй уровень:
                    select(name="sortSecond" id="sortSecond")
                    label(for="decSecond") По убыванию?
                    input(type="checkbox", id="sortSecondDec")
                div 
                    p Третий уровень:
                    select(name="sortThird" id="sortThird")
                    label(for="decThird") По убыванию?
                    input(type="checkbox", id="sortThirdDec")
                input(type="button" value="Сортировать", id="sortBtn")
                input(type="reset" value="Сбросить", id="resetSort")
