mixin filterDetails()
    details.filter
            summary Фильтр
            form#filters
                div 
                    .name
                        label(for = "name") Название:
                        input(type="text" name="name" id="name")
                    .location
                        label(for="location") Местонахождение:
                        input(type="text" name="location" id="location")
                    .type
                        label(for="type") Тип:
                        input(type="text" name="type" id="type")
                    .year
                        label(for="minYear") Год постройки: от
                        input(type="number" name="minYear" id="minYear")
                        label(for="maxYear") до:
                        input(type="number" name="maxYear" id="maxYear")
                input(type="button" value="Найти" id="find")
                input(type="reset" value=" Очистить фильтры" id="clear")
mixin graphDetails()
    details.graph
            summary График
            form
                div.graph 
                    p Значение по оси ОХ
                    select(name="OX")
                        //- .year
                        //-     option(name="xValue" value="year") Год
                        .location
                            option(name="xValue" value="location") Местонахождение
                        .type
                            option(name="xValue" value="type") Тип
                div
                    p Результат
                    select(name="OY")
                        .year
                            option(name="result" value="buildDate") Самая старая достопримечательность
                    //-    .location
                    //-         option(name="result" value="buildDate") Самая новая достопримечательность 
                        //- .type
                        //-     option(name="result" value="city") Количество достопримечательностей
                input(type="checkbox" name="maxCheck" checked) 
                label(for="maxCheck") Максимум
                br
                input(type="checkbox" name="minCheck")
                label(for="minCheck") Минимум
                br
                input(type="button" value="Построить" id="build")
                #graph
                    svg(height=10)
mixin sortDetails()
    details.sort
            summary Сортировка
            form#sort
                div 
                    p Первый уровень:
                    select(name="sortFirst" id="sortFirst")
                    label(for="decFirst") По убыванию?
                    input(type="checkbox", id="sortFirstDec")
                div 
                    p Второй уровень:
                    select(name="sortSecond" id="sortSecond")
                    label(for="decSecond") По убыванию?
                    input(type="checkbox", id="sortSecondDec")
                div 
                    p Третий уровень:
                    select(name="sortThird" id="sortThird")
                    label(for="decThird") По убыванию?
                    input(type="checkbox", id="sortThirdDec")
                input(type="button" value="Сортировать", id="sortBtn")
                input(type="reset" value="Сбросить", id="resetSort")
