<!DOCTYPE HTMl>
block variables
    -var authorInfo =  '© Терехин Б.Д., Б9121-09.03.04(4), 2023-2024'
html
    head
        block title
    body
        block header
        block content
        footer
            .author © Терехин Б.Д., Б9121-09.03.04(4), 2023-2024
            .contacts
                a(href="https://github.com/Ronin-D") GitHub